<!DOCTYPE HTML>
<html>
	<head>
		<title>Result</title>
		<link rel="icon" href="/images/ai-icon.svg" type = "image/x-icon" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<%- include('../partials/header') %>

				<%- include('../partials/menu') %>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Result</h1>
                            <p>This is a dog.</p>
                            <span class="image main"><img src="/images/dog.png" style="width: 10%; margin-left: auto; margin-right: auto;" /></span>
						</div>
                    </div>
                    

				<%- include('../partials/footer') %>

			</div>

		<%- include('../partials/scripts') %>

	</body>
</html>