<!-- Menu -->
<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a href="/fastai">fastai</a></li>
        <li><a href="/cat-or-dog">Cat/Dog Classifier</a></li>
    </ul>
</nav>