<!DOCTYPE HTML>
<html>
	<head>
		<title>Cat/Dog Classifier</title>
		<link rel="icon" href="/images/ai-icon.svg" type = "image/x-icon" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<%- include('partials/header') %>

				<%- include('partials/menu') %>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Cat or Dog?</h1>
							<p>This is a convolutional neural network that labels images as "cat" or "dog." You can submit a photo of your own and see how well the model does.</p>
							<hr />
							<h2>Submit your own photo</h2>
							<form action='/upload-image' method='post' enctype='multipart/form-data'>
								<input type='file' name='animal-image' accept='image/*'/>
								<br />
								<br />
								<input type='submit' value='Submit'/>
							</form>
						</div>
					</div>

				<%- include('partials/footer') %>

			</div>

		<%- include('partials/scripts') %>

	</body>
</html>