<!DOCTYPE HTML>
<html>
	<head>
		<title>fastai</title>
		<link rel="icon" href="/images/ai-icon.svg" type = "image/x-icon" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<%- include('partials/header') %>

				<%- include('partials/menu') %>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>fastai</h1>
							<h2>Intro</h2>
							<p>This is a collection of summaries and questionnaire answers for all the chapters in the fastai book.
								In case you want to read them for yourself, they are freely available as Jupyter notebooks 
								<a href='https://github.com/fastai/fastbook'>here</a>.
							</p>
							<hr />
							<h2>Chapters</h2>
							<ul>
								<li><a href="/fastai/chapter-1">Chapter 1</a></li>
							</ul>
						</div>
					</div>

				<%- include('partials/footer') %>

			</div>

		<%- include('partials/scripts') %>

	</body>
</html>