<!DOCTYPE html>
<html>
  <head>
    <title>AI Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cat or Dog?</h1>
    <p>Upload a picture here.</p>
    <form action='/upload-image' method='post' enctype='multipart/form-data'>
      <input type='file' name='animal-image'/>
      <input type='submit' value='Submit'/>
    </form>
  </body>
</html>
